footer{
    background: #000;
    
    
}
.container{
    /* width: 1140px; */
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
}
.footer{
    width: 33.3%;
}
h3{
    font-size: 29px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
    color: #fff;
}

.footer-content img{
    margin-top: 10px;
}

.footer-content li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.footer-content i{
    color: white;
    font-size: 25px;
}
/* li{
    text-decoration: none;
} */
.bottom-bar{
    background: #e22f2fe8;
    text-align: center;
    padding: px 0;
    margin-top: 40px;
}
.bottom-bar p{
    color: #fdfdfd;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
@media (max-width:500px) {
    .container{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 180px;
    }
    .footer-content img{
        padding-left: 31%;
    }
    .footer-content li{
        display: inline-block;
       padding-left: 15%;
        /* background-color: red; */

    }
 
    
}